<div class="row">
  <div class="col-sm-12">
    <!-- <app-card [title]="'View By Lane'" [blockClass]="'panels-wells'">
      <div style="margin: 50px;">
        <div style="height: 400px;">
          <div id="pieChart"></div>
          <div id="barChart"></div>
          <div id="lineChart"></div>
        </div>
      </div>
    </app-card> -->
    <div class="card">
      <div class="card-header">
        <h5>View By Lane</h5>
        <a [routerLink]="['/bay']" class="pull-right">
          <i class="icofont icofont-arrow-left"></i> Back
        </a>
      </div>
      <div class="card-body">
        <div style="margin: 50px;">
          <div style="height: calc(100vh - 260px)">
            <div class="row">
              <div class="col-md-6">
                <div id="pieChart"></div>
              </div>
              <div class="col-md-6">
                <div id="lineChart"></div>
                <div id="barChart"></div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
