.text-left .input-group{
    color: #666; 
}
.btn-btn{
    margin-bottom: 32px
}
// .userForm{
//     margin-bottom: 32px
// }

.userfrom {  
    margin-top: 22px;
    margin-right: 30px;
    margin-left: 30px;
}    
