<div class="card">
  <div class="card-header">
    <h5>Contact</h5>
  </div>
  <div class="card-body">
    <div class="table-content crm-table">
      <div class="project-table">
        <div id="crm-contact" class="dt-responsive">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
              <div>
                <label class="label-control">Show
                  <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                  </select>
                  entries
                </label>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div style="text-align: right;">
                <label>Search:
                  <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
                </label>
              </div>
            </div>
          </div>
          <!-- <div class="panel-heading">User information</div>-->
          <div class="table-responsive">
            <table class="table table-striped table-bordered full-data-table" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
              [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
              <thead>
                <tr>
                  <th>
                    <mfDefaultSorter by="image">Profile</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="name">Name</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="roles">Role</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter>Action</mfDefaultSorter>
                  </th>
                </tr>
                <tr>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of mf.data">
                  <td>
                    <img src="{{item.image}}" class="d-inline-block img-circle " alt="tbl">
                  </td>
                  <td>{{item.name}}</td>
                  <td>{{item.email}}</td>
                  <!-- <td>{{item.position}}</td>
              <td>{{item.office}}</td>
              <td>{{item.age}}</td>
              <td class="text-primary text-center">
                <span *ngIf="item.age > 45"><i class="fa fa-star" aria-hidden="true"></i></span>
                <span *ngIf="item.age <= 45 && item.age > 25"><i class="fa fa-star-half-o" aria-hidden="true"></i></span>
                <span *ngIf="item.age <= 25"><i class="fa fa-star-o" aria-hidden="true"></i></span>
              </td>
              <td>{{item.phone_no}}</td>
              <td>{{item.date}}</td> -->
                  <td class="action-icon">
                    <a href="javascript:;" class="m-r-15 crm-action-edit text-muted text-primary" (click)="openMyModal('effect-13')">
                      <i class="icofont icofont-ui-edit"></i>
                    </a>
                    <a href="javascript:;" class="crm-action-delete text-muted text-danger">
                      <i class="icofont icofont-delete-alt"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th>Profile</th>
                  <th>Name</th>
                  <th>Role</th>
                  <th>Action</th>
                </tr>
                <tr>
                  <td colspan="10">
                    <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Add Contact Start Model -->
<app-modal-animation [modalID]="'effect-13'" [modalClass]="'md-effect-13'">
  <h3 class="f-26">Permissions Update</h3>
  <div class="text-center">
    <div class="input-group row">
      <label class="col-sm-5 text-left">Name</label>
      <input type="text" class="form-control" placeholder="Full Name">
      <span class="md-line"></span>
    </div>
    <div class="input-group row">
      <label class="col-sm-5 text-left">Roles</label>
      <ng-select [ngClass]="'ng-select'" class="col-sm-7" [multiple]="true"></ng-select>
      <span class="md-line"></span>
    </div>
    <button type="button" class="btn btn-primary waves-effect m-r-20 f-w-600 d-inline-block">Update</button>
    <button (click)="closeMyModal($event)" class="btn btn-danger waves-effect m-r-20 f-w-600 md-close d-inline-block">Close</button>
  </div>
  <button (click)="closeMyModal($event)" aria-label="Close" class="md-close-btn">
    <i class="icofont icofont-ui-close"></i>
  </button>
</app-modal-animation>
<!-- Add Contact Ends Model-->
<!-- ends -->
