<div class="card">
  <div class="card-header">
    <h5>Role Details</h5>
    <button type="button" class="btn btn-primary waves-effect waves-light f-right d-inline-block md-trigger" (click)="openMyModal('effect-13')">
    <i class="icofont icofont-plus m-r-5"></i> Add Role
    </button>
  </div>
  <div class="card-body">
    <div class="table-content crm-table">
      <div class="project-table">
        <div id="crm-contact" class="dt-responsive">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
              <div>
                <label class="label-control">Show
                  <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                  </select>
                  entries
                </label>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div style="text-align: right;">
                <label>Search:
                  <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
                </label>
              </div>
            </div>
          </div>
          <!-- <div class="panel-heading">User information</div>-->
          <div class="table-responsive">
            <table class="table table-striped table-bordered full-data-table" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
              [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
              <thead>
                <tr>
                  <th>
                    <mfDefaultSorter by="role">Role</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="description">Description</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter>Action</mfDefaultSorter>
                  </th>
                </tr>
                <tr>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let role of mf.data">
                  <td>{{role.role}}</td>
                  <td>{{role.description}}</td>
                  <td class="action-icon">
                    <a href="javascript:;" class="m-r-15 crm-action-edit text-muted text-primary" (click)="editRole('effect-12', role)"><i
                        class="icofont icofont-ui-edit"></i></a>
                    <a href="javascript:;" class="crm-action-delete text-muted text-danger" (click)="deleteRole(role.id)"><i
                        class="icofont icofont-delete-alt"></i></a>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th>Role</th>
                  <th>Description</th>
                  <th>Action</th>
                </tr>
                <tr>
                  <td colspan="10">
                     <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Add Contact Start Model -->
<app-modal-animation [modalID]="'effect-12'" [modalClass]="'md-effect-13'">
  <!-- <form [formGroup]="roleForm"> -->
<h3 class="f-26">Role Update</h3>
<div class="text-center">

  <div class="input-group">
    <span class="input-group-prepend" id="basic-addon1"></span>
    <input type="text" [(ngModel)]="rolesData.role" class="form-control" placeholder="Role">
  </div>

  <div class="input-group">
    <span class="input-group-prepend" id="basic-addon3"></span>
    <textarea type="text" [(ngModel)]="rolesData.description" class="form-control" placeholder="Description"></textarea>
  </div>

  <button type="button" (click)="updateData('effect-12', rolesData)" class="btn btn-primary waves-effect m-r-20 f-w-600 d-inline-block">Update</button>
  <button (click)="closeModal('effect-12')" class="btn btn-danger waves-effect m-r-20 f-w-600 md-close d-inline-block">Close</button>
</div>
<button (click)="closeModal('effect-12')" aria-label="Close" class="md-close-btn"><i class="icofont icofont-ui-close"></i></button>
<!-- </form> -->
</app-modal-animation>
<!-- Add Contact Ends Model-->
<!-- ends -->

<!-- editPopup start-->
<app-modal-animation [modalID]="'effect-13'" [modalClass]="'md-effect-13'">

  <form [formGroup]="roleForm">
    <h3 class="f-26">Add Role</h3>
    <div class="text-center">

      <div class="input-group">
       
        <input type="text" [(ngModel)]="addData.role" class="form-control" formControlName="role" placeholder="Roles">
      </div>

      <div class="input-group">
        
        <textarea type="text" [(ngModel)]="addData.description" class="form-control" formControlName="description" placeholder="Description"></textarea>
      </div>
      
      <button type="button" (click)="addRoles(addData, 'effect-13')" class="btn btn-btn btn-primary waves-effect m-r-20 f-w-600 d-inline-block" >Save</button>
      <button (click)="closeModal('effect-13')" class="btn btn-btn btn-danger waves-effect m-r-20 f-w-600 md-close d-inline-block">Close</button>

  </div>
    <button (click)="closeModal('effect-13')" aria-label="Close" class="md-close-btn"><i class="icofont icofont-ui-close"></i></button>
    
  </form>
</app-modal-animation>

<!-- editPopup ends-->