.line-container {
  height: 300px;
  width: 100%;
  display: block;
}

.gauge-container {
  height: 300px;
  width: 100%;
  display: block;
}

// app-card[ng-reflect-block-class="panels-wells"] {
//   .card-header-right {
//     display: none;
//   }
//   background-color: red;
// }
.card-header-right {
  display: none !important;
}

.fullcard {
  padding: 0;
  .card-body {
    padding: 0;
  }
}

.card-body {
  padding: 2px;
  .table th {
    border-top: 0;
  }
}

.date-container {
  text-align: center;
  padding: 10px 0;
}

.main-body .page-wrapper {
  padding: 0;
}

.card {
  margin-bottom: 10px;
}

.pie {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #655;
  background-image: linear-gradient(to right, transparent 50%, yellowgreen 0);
}

@keyframes spin {
  to {
    transform: rotate(.5turn);
  }
}

@keyframes bg {
  50% {
    background: yellowgreen;
  }
}

.pie::before {
  content: '';
  display: block;
  margin-left: 50%;
  height: 100%;
  border-radius: 0 100% 100% 0 / 50%;
  background-color: inherit;
  transform-origin: left;
  animation: spin 50s linear infinite, bg 100s step-end infinite;
  animation-play-state: paused;
  animation-delay: inherit;
}

.card .card-header {
  padding: 10px 15px 0px 15px;
}

.conveyor-status-block {
  max-width: 600px;
}

.conveyor-status-block .card {
  border: 0 none;
}

.conveyor-status-block .card-img-top {
  max-width: 126px;
  display: inline-block;
  margin: 0 auto;
}

.conveyor-status-block .card-body {
  padding: 0.25rem;
  text-align: center;
}

.conveyor-status-block .card-text {
  margin-bottom: 0;
}
