<!-- <section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="login-card card-body auth-body">
          <form class="md-float-material">
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-left">Change your Password? </h3>
                  </div>
              </div>
                <div class="input-group">
                <input type="text" class="form-control" placeholder="Old Password">
                <span class="md-line"></span>
              </div>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="New Password">
                <span class="md-line"></span>
              </div>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Confirm Password">
                <span class="md-line"></span>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Password Change</button>
                </div>
              </div>
              <hr/>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section> -->
<div class="card">
    <div class="card-header">
      <h5>Change Password</h5>
    </div>
    <div class="row"> 
      <div class="col-md-12">
          <form class="md-float-material">
              <div class="auth-box p">
                <div class="row m-b-20">
                  <div class="col-md-12">
                    <h3 class="text-left">Change your Password? </h3>
                  </div>
                </div>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Old Password">
                 <span class="md-line"></span>
                </div>
                <div class="input-group">
                 <input type="text" class="form-control" placeholder="New Password">
                  <span class="md-line"></span>
                </div>
                <div class="input-group">
                 <input type="text" class="form-control" placeholder="Confirm Password">
                 <span class="md-line"></span>
                </div>
                <div class="row">
                     <div class="col-md-12">
                      <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Password Change</button>
                      </div>
                </div>
                </div>
            </form>
       </div>
    </div> 
    
</div>
<!-- <div class="card">
    <div class="card-header">
      <h5>Change Password</h5>
    </div>
            <div class="row">
                <div class="col-sm-12">
                  <div class="login-card card-body auth-body">
                    <form class="md-float-material">
                      <div class="auth-box">
                        <div class="row m-b-20">
                          <div class="col-md-12">
                            <h3 class="text-left">Change your Password? </h3>
                            </div>
                        </div>
                          <div class="input-group">
                          <input type="text" class="form-control" placeholder="Old Password">
                          <span class="md-line"></span>
                        </div>
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="New Password">
                          <span class="md-line"></span>
                        </div>
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Confirm Password">
                          <span class="md-line"></span>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Password Change</button>
                          </div>
                        </div>
                        <hr/>
                        </div>
                    </form>
                  </div>
              </div>
         
    </div>
    </div>
 -->
